*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #eee;
}

.container{
    background-color: black;
    color: white;
    /* width: 30vw;
    height: 20vh; */
    position: absolute;
    /* top: calc(50% - 10vh);
    left: calc(50% - 15vw); */
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}