#box1{
    width: 200px;
    height: 200px;
    background-color: hsl(207, 84%, 64%);
    position:static;
    top: 0px;
}

#box2{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px;
}
