h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: rgba(255, 255, 0, 0.658);
}
p::selection{
    color: red;
    background-color: lightgreen;
}

#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#banana::after{
    content: "🍌";
}

#fruit li::marker{
    content: "✔";
    color: green;
    font-size: 2em;
}