.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: rgba(158, 158, 158, 0.795);
    color: white;
    padding:  10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    background-color: gainsboro;
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.80);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: green;
}
.dropdown a:hover{
    background-color: rgba(137, 43, 226, 0.24);
}