.main-nav {}

.main-nav ul {
    padding: 0;
}

.main-nav li {
    list-style: none outside;
    position: relative;
    display: block;
}

.main-nav>ul>li {
    display: inline-block;
    margin: 0 0.2em;
}

.main-nav a {
    display: block;
    padding: 0.5em 0.8em;
    text-decoration: none;
    color: #369;
    background-color: #EEE;
    border: 2px solid #CCC;
    border-radius: 0.3em;
}

.main-nav li:hover>a,
.main-nav a:hover {
    background-color: #369;
    color: #fff;
    border-color: #147;
}

.main-nav li:hover>a {
    opacity: 0.6;
}

.main-nav li:hover a:hover {
    opacity: 1;
}
.main-nav ul ul {
    display: none;
}

.main-nav ul ul li {
    margin-bottom: 0.2em;
}

.main-nav li:hover>ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 4px 0;
}

.main-nav ul ul li:hover>ul {
    padding: 0 4px;
    left: initial;
    top: 0;
    right: 100%;
}

/* 1:06h */